<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feb</title>
</head>
<body>
    <h1>FAKULTAS EKONOMI DAN BISNIS</h1>
    <h2>terdiri dari:</h2>
    <h3>D3 Marketing</h3>
    <h3>D3 Akuntansi</h3>
    <h3>D3 Perpajakan</h3>
    <h3>D3 Keuangan Perbankan</h3>
    <h3>S1 Manajemen</h3>
    <h3>S1 Akuntansi</h3>
    <h3>S1 Ekonomi Pembangunan</h3>
    <h3>S1 Ekonomi Syariah</h3>

    
</body>
</html>