<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fkip</title>
</head>
<body>
    <h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1>
    <h2>terdiri dari:</h2>
    <h3>Pendidikan Matematika</h3>
    <h3>Pendidikan Sekolah Dasar</h3>
    <h3>Pendidikan IPA</h3>
    <h3>Pendidikan Khusus</h3>
    <h3>Pendidikan Seni dan Pertunjukan</h3>
    <h3>Pendidikan Guru Pendidikan Anak Usia Dini (PAUD)</h3>
    <h3>Pendidikan Sejarah</h3>
    <h3>Pendidikan Kimia</h3>
    <h3>Pendidikan Fisika</h3>
    <h3>Pendidikan Sosiologi</h3>
    <h3>Pendidikan Vokasional Teknik Mesin</h3>
    <h3>Pendidikan Non Formal</h3>
    <h3>Bimbingan dan Konseling</h3>
    <h3>Pendidikan Pancasila dan Kewarganegaraan</h3>
    <h3>Pendidikan Vokasional Teknik Elektro</h3>
    <h3>Pendidikan Biologi</h3>
    <h3>Pendidikan Bahasa Indonesia</h3>
    <h3>Pendidikan Bahasa Inggris</h3>

</body>
</html>